<div class="container py--5">
  <div class="columns">
    <div class="column">          
      <p>
        © {{ .Param "copydate" }} {{ .Site.Title }}.
      </p>
    </div>
    <div class="column--2">
      <!-- <dl>
        <dt class="font--bold pb--1">Resources:</dt>
        <dd>📜 <a href="/codeofconduct" rel="noopener noreferrer">Code of Conduct</a></dd>
        <dd>⚖️ <a href="/license" rel="noopener noreferrer">License</a></dd>
        <dd>📚 <a href="https://docs.gorangocss.kawanua.id" target="_blank" rel="noopener noreferrer">Documentation</a></dd>
        <dd>💻 <a href="https://github.com/KawanuaDev/gorangocss" target="_blank" rel="noopener noreferrer">Source Code</a></dd>
      </dl> -->
    </div>
    <div class="column--2">
      <!-- <dl>
        <dt class="font--bold pb--1">Sponsored by:</dt>
        <dd>🔗 <a href="https://gitbook.com" target="_blank" rel="noopener noreferrer">GitBook</a></dd>
        <dd>🔗 <a href="https://www.browserstack.com" target="_blank" rel="noopener noreferrer">BrowserStack</a></dd>
      </dl> -->
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <p class="font--xs">Build with <a href="https://gorangocss.kawanua.id" target="_blank" rel="noopener noreferrer">🦈GorangoCSS</a> in Indonesia.</p>
    </div>
  </div>
</div>
