{{ $main := resources.Get "styles/main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $main.Permalink }}">
<link rel="stylesheet" href="https://unpkg.com/gorangocss@latest/dist/gorango.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/inter/3.13/inter.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/fira-code/5.2/fira_code.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/fanwood/webfonts/stylesheet.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/goudy-bookletter-1911/webfonts/stylesheet.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/hack/3.3.0/hack.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/inconsolata/3.000/inconsolata.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/iosevka-mayukai/1.3.1/iosevka-mayukai.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/junction/web/junction.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/lato/2.0.15/latofonts.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/league/gothic/web/stylesheet.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/league/mono/web/stylesheet.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/league/script/webfonts/stylesheet.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/linden-hill/webfonts/stylesheet.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/manrope/4.5/index.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/ostrich-sans/webfonts/ostrich-sans.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/overpass/webfont/overpass.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/overpass/mono-webfont/overpass-mono.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/prociono/webfonts/stylesheet.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/public-sans/public-sans.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://font.my.id/libs/redacted-font/web/stylesheet.css" crossorigin="anonymous">
