{{ define "text" }}
  ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789
{{ end }}

{{ define "mainbody" }}
  {{ $fontJson := getJSON "data/fonts.json" }}
  {{ range sort $fontJson "Name" "asc" }}
    {{ if .Public }}
      <article id="{{ .Name }}" class="pb--1">
        <header>
          {{ range .Type }}
            <span class="badge bg--light float--right">{{ . | title }}</span>
          {{ end }}
          <h4 class="pb--1">{{ .Name | title }}</h4>
        </header>
        <figure class="class pa--1 border--5 rounded--t--6">
          {{ range .Family }}
            <kbd>font-family: {{ . }};</kbd><br>
          {{ end }}
        </figure>
        {{ $codeRel := "<link rel=\"stylesheet\"" }}
        {{ $codeCross := "crossorigin=\"anonymous\">" }}
        <figure>
<pre class="bg--dark pa--2" rel="html" data-type="html">
  {{ $codeRel }} href="{{ .Url }}" {{ $codeCross }}
</pre>
        </figure>
        <div class="preview pa--2 border--5 rounded--b--6" rel="preview">
          {{ range .Class }}
            <span class="{{ . }} font--lg">
              {{ block "text" . }}{{ end }}
            </span>
          {{ end }}
        </div>
      </article>
    {{ end }}
  {{ end }}
{{ end }}
